<div class="container py-3">
    <div class="card p-1">
        <h4>Hola {{userForm.get('nombres')?.value}}, los pedidos por entregar.</h4>
    </div>
    <div *ngIf="count>0" class="justify-content-center align-items-center" style="width: 100%;">
        <div class="pb-3">
            <div class="py-1"><table class="table table-hover" id="table-items" style="width:100%">  
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Delivery?</th>
                        <th scope="col">Payment</th>
                        <th scope="col"  style="width: 120px; text-align: right;">Total Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let c of saleList">
                        <tr>
                            <td style="width: 60px; text-align: center;">{{c.salesID}}</td>
                            <td >{{c.customer}}</td>
                            <td style="width: 60px; text-align: center;">{{c.delivery}}</td>
                            <td>{{c.payment}}</td>
                            <td style="width: 36px; text-align: right;">{{c.totalAmount}}</td>
                            <td>
                                <button (click)="selectDispatched(c.salesID)" class="btn btn-outline-primary" type="button" data-toggle="collapse"
                                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Details</button>
                            </td>
                        </tr>
                </tbody>              
            </table>               
        </div>   
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form [formGroup]='deliveryForm'>
                    <div class="form-row align-items-center">
                      <div class="col-auto my-1">
                        <div class="custom-control custom-checkbox mr-sm-2">
                          <input type="checkbox" formControlName="attendedStatus" class="custom-control-input" id="customControlAutosizing">
                          <label class="custom-control-label" for="customControlAutosizing">Despachado?
                              <small class="text-muted">Marca la casilla para indicar que se ha despachado correctamente.</small>
                          </label>
                        </div>
                      </div>
                      <div class="col-auto my-1">
                        <button (click)="saveDispatched()" type="button" class="btn btn-primary">Registrar despacho</button>
                      </div>
                    </div>
                </form>
            </div>
 
        </div>
</div>