<div [formGroup]='loginForm' class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 *ngIf="!create" class="active"> Sign In </h2>
    <h2 *ngIf="create" class="active">Sign Up </h2>
    <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/img/user-login-icon.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <div *ngIf="create" [formGroup]='addForm' class="_add">
        <input type="text" id="name" class="fadeIn first" formControlName="name" placeholder="nombre del cliente"
          autocomplete="off">
      </div>
      <div [formGroup]='loginForm'>
        <input type="text" id="login" class="fadeIn second" formControlName="user" placeholder="example@mail.com"
          autocomplete="off">
        <input type="password" id="password" class="fadeIn third" formControlName="password" placeholder="password"
          autocomplete="off">
      </div>
      <input *ngIf="!create" (click)="startLogin()" type="submit" class="fadeIn fourth" value="Log In">
      <input *ngIf="create" (click)="createAccount()" type="submit" class="fadeIn fourth" value="Guardar">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover ">Forgot Password?</a>
      <a *ngIf="!create" (click)="enableCreate()" class="underlineHover btn">Create Account</a>
      <a *ngIf="create" (click)="enableLogin()" class="underlineHover btn">Log In</a>
    </div>

  </div>
</div>